.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #eee;
	color: #00b7ee;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	width: 90px;
	height: 90px;
	font-size: 5em;
	line-height: 80px;
	border:1px solid #ddd;
}

.webuploader-pick:active{
	color: #c00
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
.error{
	background: #f00;
	color: #fff;
	text-align: center;
	line-height: 1.5
}
.progress{
	background: #ddd;
	height: 5px;
	margin: 0;
	padding: 0
}
.progress span{
	background: #00b7ee;
	display: block;
	height: 5px;
}
.success{
	background: #5fba7d;
	color: #fff;
	text-align: center;
		line-height: 1.5

}
.file-item{
	float: left;
	margin-right: 10px
}
.file-item img{
	display: block;
}
.progress{

}

.file-item .iconfont{
	color: #fff;
	font-size: 1.5em
}
