#wrapper {
    overflow-y: hidden;
}
.navbar-static-side {
    background: rgba(22, 41, 74, 1);
}
.navbar-default .nav>li>a:hover {
    background-color: rgb(19, 35, 63);
    color: #fff;
}
.navbar-default .nav>li>a:focus, .navbar-default .nav>li>a:hover {
    background-color:rgb(19, 35, 63);
    color: #fff;
}
.nav-header {
    background: rgba(28, 50, 89, 1);
}
.img-circle {
     border-radius: 0;
     width:95px;
     height: 39px;
}
.nav-header .btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFF;
    position: absolute;
    top: 0px;
    left: -19px;
    padding: 0px;
    width: 38px;
    height: 30px;
}
.navbar-default .nav>li>.btn-primary:hover{
    background-color: #18a689;
    border-color: #18a689;
    color: #FFF;
}
.nav-header .btn-primary i{
    margin: 7px;
}
.nav>li.active {
    border-left: 4px solid #19aa8d;
    background: rgba(28, 50, 89, 1);
}
.footer{
    margin: 0px -15px;
}
#content-main {
    height: calc(100% - 85px);
    overflow: hidden;
}
.small-chat1 {
    position: fixed;
    bottom: 50px;
    right: 132px;
    z-index: 100;
}
.small-chat1 .badge {
    position: absolute;
    top: -3px;
    right: -4px;
}
.small-chat2 {
    position: fixed;
    bottom: 50px;
    right: 77px;
    z-index: 100;
}

.small-chat2 .badge {
    position: absolute;
    top: -3px;
    right: -4px;
}
.roll-right.J_tabRight {
    right: 196px;
}
.roll-right.btn-group {
    right: 116px;
    width: 80px;
    padding: 0;
}
.roll-right.btn-img {
    right: 66px;
    width: 50px;
    padding: 0 6px;
}
.roll-right.btn-img img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.packUp{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
