/*头部样式 *!*/
label{
    font-weight: normal;
}
.bg-grow{
    background: #f2f7f8;
}
body{
    padding: 10px 20px;
}
.cont{
    background: #fff;
    padding: 20px;
}
.otitle{
    font-size: 22px;
    padding-right:40px;
}
.meeting-sure{
    color: #00B6B9;
}
header article{
    padding: 20px;
    background: #E7EBEE;
}
/* 中间部分样式 */
main h1{
    padding: 10px;
    border-bottom: 1px solid #E7EBEE;
    /* border-left: 5px solid #00B6B9; */
    font-size: 20px;
    color: #333;
    padding-left: 0;
}
main h1 span{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 6px;
    height: 21px;
    background: #00B6B9;
}
main article{
    margin-top: 22px;
    padding: 0 20px;
}
.cont .el-input-number{
    width: 100%;    
}
.cont .el-form-item__label{
    color: #3D464C;  
}
.basic-color{
    color: #00B6B9;
}
.bd1{
    margin-top: 22px;
    border-bottom: 1px dashed #e4e8ec;
    margin-bottom: 22px;
}
/* 图片上传组件的样式 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
/* 对星星进行样式修改 */
.cont .el-rate {
    line-height: 22px;
}
.place-rate .el-form-item__label{
    padding: 0px 12px 0px 0;
}
.omerge{
    margin-bottom: 6px;
}
.mt0{
    margin-top: 0;
}
.place-rate .nosure{
    margin-top: -10px;
    position: absolute;
}
.sure{
    background: #00B6B9;
}
.sure:hover{
    background: #09c9cc;
}
.sure-hov:hover{
    color: #00B6B9;
    border-color: #00B6B9;
}
.el-button--primary.is-active, .el-button--primary:active {
    background: #00B6B9;
    border-color: #00B6B9;
    color: #fff;
}
.el-button--primary:focus, .el-button--primary:hover {
    background: #00B6B9;
    border-color: #00B6B9;
    color: #fff;
}
/* 对样式进行修改*/
/* 生成小方块 */
.el-form-item .el-form-item__label:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    background: #00B6B9;
}
.cont .el-form-item__label{
    /*color: #999;*/
}
.el-form-item span{
    padding-left: 16px;
}
.cont1 .el-form-item {
    margin-bottom: 0px;
}
/* 生成虚线 */
.el-form .el-row + .el-row:before {
    content: '';
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    border-bottom: 1px dashed #e8e9eb;
}
.cont1 .el-form-item__content {
    line-height: 20px;
}
label{
    font-weight: normal;
}
.place-rate .el-form-item span {
    padding-left: 0;
}
.place-rate .el-form-item span.pl16{
    padding-left: 16px;
}
/* .el-row .el-col + .el-col{
    margin-bottom: 10px;
} */